/*Geral Configuracao*/

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 500px;
    border-bottom: 3px solid white;
}

/*Nav Configuracao Logo*/

#nav-logo{
    width: 70px;
    height: 40px;
    margin: 10px;
    margin-left: 5%;
    position: absolute;
}

.nav-container{
    width: 100%;
    height: 60px;
    background-color: #717343;
    display: flex;
}

/*Nav Configuracao Links*/

a, li {
    color: #f3f6f9;
    text-decoration: none;
}

a{
    cursor: pointer;
}

.nav-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nav-options{
    list-style: none;
}

.nav-options li{
    display: inline-block;
    padding: 0px 20px;
    font-size: 25px;
}

.nav-options li, a{
    transition: all 0.3 ease 0s;
}

.nav-options li a:hover{
    color: #000;
}